nav {
    color: white;
}

.img_edt1 {
    width: 63.61px;
    height: 40px;
}

#img_edt2 {
    width: 700px;
    height: 500px;
}

.p_edt1 {
    color: white;
    background-color: black;
    border-radius:14px ;
    margin-top: 11px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

#a_edt1 {
    color: white;
}

#car_edt {
    background-color: white;
    color: black;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

/* .row {
    background-image:url(images/img1.jpg);
    opacity: 0.3;
    color: white;
} */

body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-image: linear-gradient(180deg, #131516, #fff);
    background-repeat: no-repeat
}

.card {
    box-shadow: 0px 4px 8px 0px #BDBDBD
}

.profile-pic {
    width: 100px !important;
    height: 100px;
    box-shadow: 0px 4px 8px 0px #BDBDBD
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    background: 0 0;
    color: #1E88E5 !important;
    border: none;
    padding: 5px 20px !important;
    font: inherit;
    font-size: 50px !important
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    color: #0D47A1 !important;
    background-color: transparent !important
}

.owl-dots {
    display: none
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.item {
    display: none
}

.next {
    display: block !important;
    position: relative;
    transform: scale(0.8);
    transition-duration: 0.3s;
    opacity: 0.6
}

.prev {
    display: block !important;
    position: relative;
    transform: scale(0.8);
    transition-duration: 0.3s;
    opacity: 0.6
}

.item.show {
    display: block;
    transition-duration: 0.4s
}

@media screen and (max-width: 999px) {

    .next,
    .prev {
        transform: scale(1);
        opacity: 1
    }

    .item {
        display: block !important
    }
}

#btn_edt1 {
    background-color: gray;
    border-color: gray;
}
